
<nav>

<div class="navigation">

    <a href="/" class="logo">
        <img src="/static/images/logo.png"/>
    </a>

    <div class="toggle"></div>


    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="#">Men</a></li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Kids</a></li>
        <li><a href="#">Shop</a></li>
    </ul>

    <div class="right-menu">
        <a href="javascript:void(0);" class="search">
            <i class="fas fa-search"></i>
        </a>

                <a href="/login" class="user">
            <i class="fas fa-user"></i>
        </a>
                <a href="shopping_cart.html">
            <i class="fas fa-shopping-cart">
                    <span class="num-cart-product">0</span>
                     </i>
        </a>
    </div>
</div>
</nav>